services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: yejara_app
    working_dir: /var/www
    volumes:
      - ./:/var/www
    environment:
      APP_ENV: local
      APP_DEBUG: "true"
      DB_CONNECTION: pgsql
      DB_HOST: db
      DB_PORT: 5432
      DB_DATABASE: yejara
      DB_USERNAME: yejara
      DB_PASSWORD: secret
      REDIS_HOST: redis
      REDIS_PORT: 6379
    depends_on:
      - db
      - redis

  web:
    image: nginx:1.27-alpine
    container_name: yejara_web
    ports:
      - "80:80"
    volumes:
      - ./:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app

  db:
    image: postgres:16-alpine
    container_name: yejara_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: yejara
      POSTGRES_USER: yejara
      POSTGRES_PASSWORD: secret
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U yejara -d yejara" ]
      interval: 5s
      timeout: 5s
      retries: 10

  redis:
    image: redis:7-alpine
    container_name: yejara_redis
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 10

  worker:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: yejara_worker
    working_dir: /var/www
    volumes:
      - ./:/var/www
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    command: php artisan queue:work --sleep=1 --tries=3 --timeout=90

volumes:
  db_data:
